header{
    height: 300px;
    overflow: hidden;
    position: relative;
    img{
        width: 100%;
        height: 100%;
        flex-shrink: 0;
        object-fit: cover;
    }
    h1{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
main{
    section{
        height: auto;
        margin: 40px 0;
    }
    #member{
        // background-image: url(../img/未命名-1.png);
        // flex-shrink: 0;
        // object-fit: cover;
        h2{
            text-align: center;
        }
        div{
            display: flex;
            justify-content: center;
            margin-top: 40px;
            img{
                width: 300px;
                height: 300px;
                border: 1px solid #FFF;
                border-radius: 50%;
            }
            div{
                display: block;
                margin-left: 40px;
                article{
                    width: 60%;
                    box-sizing: border-box;
                    border-top: 2px solid #000;
                    border-bottom: 2px solid #000;
                    line-height: 40px;
                    padding: 10px;
                    letter-spacing: 0.1rem;
                }
                p{
                    margin-top: 30px;
                    text-align: start;
                    line-height: 1.5rem;
                }
            }
            
            .left{
                
            }
            .right{
            }
            }
        
    }
    #social_media{
        display: flex;
        justify-content: center;
        background-color: #6FBFB7;
        padding: 20px;
        a{
            width: 200px;
            margin-left: 80px;
            div{
                justify-content: center;
                img{
                    width: 150px;
                }
            }
        }
        &:nth-child(2){

        }
    }
    #Comment{
        h2{
            text-align: center;
            margin-bottom: 40px;
        }
        .content{
            display: flex;
            justify-content: center;
            margin-bottom: 40px;
            div{
                width: 600px;
                max-width: 600px;
                border: 1px solid #CCC;
                margin: 0 2rem;
                padding: 20px;
                img{
                    left: 50%;
                    width: 100%;
                    height: 250px;
                    transform: translateX(-50%);
                }
            }
            }
    }
}