*{
    margin: 0;
    border: 0;
    padding: 0;
    position: relative;
    -webkit-tap-highlight-color:transparent;
}

header{
    height: 100vh;
    #banner{
        img{
            width: 50%;
            margin-top: 80px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
main{
    section{
        margin: 40px 0;
        padding: 20px 0;
    }
    #trope{
        div{
            width: 1000px;
            background-color: #efefef;
            padding: 20px 0;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 10px;
            border: 3px solid #6FBFB7;
            h2{
                font-size: 3rem;
                text-align: center;
                letter-spacing: 0.5rem;
            }
            p{
                padding-top: 20px;
                text-align: center;
                line-height: 1.5rem;
                letter-spacing: 0.1rem;
            }
        }
    }
    #produce{
        background-color: #6FBFB7;
        display: flex;
        justify-content: center;
        div{
            width: 300px;
            padding: 20px 10px;
            display: flex-wrap;
            img{
                left: 50%;
                top: 20px;
                transform: translateX(-50%);
                width: 60%;
                border: 3px solid #efefef;
                border-radius: 50%;
            }
            article{
                font-size: 1.1rem;
                margin-top: 50px;
                text-align: center;
                letter-spacing: 0.1rem;
            }
        }
    }
    #feedback{
        display: flex;
        div{
            img{
                width: 40%;
                left: 50%;
                transform: translateX(-50%);
                border: 0px ;
                border-radius: 20% 50%;
            }
        }
        .pic{
            width: 50%;
        }
        .message{
            div{
                width: 400px;
                margin: 20px 0;
                padding: 30px;
                border: 3px solid #6FBFB7;
                border-radius: 50px;
                margin-left: 80px;
                p{
                    text-align: center;
                    color: #6FBFB7;
                }
                small{
                    left: 300px;
                    color: #526765;
                    margin-top: 10px;
                }
            }
        }
    }
    #NEWS{
        .container{
            height: 600px;
            display: flex;
            overflow: hidden;
            img{
                width: 100%;
                flex-shrink: 0;
                object-fit: cover;
            }
        }
    }
}
footer{
    background: #6FBFB7;
    color: #fff;
    section{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 5vw;
        div{
            width: max(25%, 400px);
            margin: 15px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            h4{
                width: 100%;
                text-align: center;
                margin-bottom: 30px;
            }
            p{
                text-align: center;
            }
        }
    }
    .Copyright{
        padding: 10px 0;
        background: #33605b;
        p{
            text-align: center;
        }
    }
    
}