header {
  height: min(100vh, 100vw);
  padding-top: 80px;
}
header #banner img {
  max-width: 700px;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
}

main section {
  margin: 40px 0;
  padding: 20px 0;
}
main #trope div {
  width: 90%;
  max-width: 1000px;
  padding: 2rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  border: 3px solid #6FBFB7;
}
main #trope div h2 {
  font-size: min(3rem, 7vw);
  text-align: center;
  letter-spacing: 0.5rem;
}
main #trope div p {
  padding-top: 20px;
  text-align: center;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
}
main #produce {
  background-color: #6FBFB7;
  display: flex;
  justify-content: center;
}
main #produce div {
  width: 250px;
  padding: 20px 10px;
  margin: 0 3vw;
  display: flex;
  flex-wrap: wrap;
}
main #produce div img {
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  width: 100%;
  border: 3px solid #efefef;
  border-radius: 50%;
}
main #produce div article {
  font-size: 1.1rem;
  margin-top: 25px;
  text-align: center;
  letter-spacing: 0.1rem;
}
main #Business_time h3 {
  margin-top: 20px;
  margin-left: 60px;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 40px;
}
main #Business_time > div {
  display: flex;
  justify-content: center;
}
main #Business_time > div .pic {
  margin: 0 5%;
  margin-bottom: 5vh;
}
main #Business_time > div .pic img {
  max-width: 300px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: 0px;
  border-radius: 20% 50%;
}
main #Business_time > div .message div {
  width: 500px;
  left: 50%;
  transform: translateX(-50%);
  margin: 20px 0;
  padding: 30px;
  border: 3px solid #6FBFB7;
  border-radius: 1rem;
}
main #Business_time > div .message div p {
  text-align: center;
  color: #6FBFB7;
}
main #Business_time > div .message div small {
  display: block;
  text-align: end;
  color: #526765;
  margin-top: 10px;
}
main #NEWS {
  display: flex;
  overflow: hidden;
}
main #NEWS .NEWS_title {
  left: 20px;
}
main #NEWS .container {
  transition: left 0.3s;
  height: 600px;
  display: flex;
}
main #NEWS .container div {
  width: 30%;
  flex-shrink: 0;
  border: 1px solid #33605b;
  margin: 0 1.5rem;
}
main #NEWS .container div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main #NEWS .container div p {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}
main #NEWS button {
  background-color: rgba(51, 96, 91, 0.4901960784);
  position: absolute;
}
main #NEWS button:nth-of-type(1) {
  height: calc(100% - 40px);
  width: 60px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
main #NEWS button:nth-last-of-type(1) {
  right: 0;
  width: 60px;
  top: 50%;
  transform: translateY(-50%);
  height: calc(100% - 40px);
}
main #NEWS button:nth-of-type(2) {
  left: 50%;
  bottom: 0;
  transform: translateX(calc(-50% - 2rem));
}
main #NEWS button:nth-of-type(3) {
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
main #NEWS button:nth-of-type(4) {
  left: 50%;
  bottom: 0;
  transform: translateX(calc(-50% + 2rem));
}

@media screen and (max-width: 1100px) {
  main #feedback {
    flex-wrap: wrap;
  }
  main #feedback .message {
    width: 100%;
  }
  main #feedback .message div {
    width: 90% !important;
  }
}
@media screen and (max-width: 580px) {
  main #produce {
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=index.css.map */